/* RESETS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: Mukta, sans-serif;
    font-size: 1.8rem;
    color: #222;
}

a {
    text-decoration: none;
    color: #222;
}
p {
    line-height: 1.3;
}

/* VARIABLES  */
:root {
    --color-primary: #611f69;
    --color-secondary: #222;
    --color-link: #2f9cde;
    --color-link-2: #1264a3;
}

/* Utility Classes  */
.btn {
    padding: 1rem 2.4rem;
    border-radius: 0.5rem;
}

.btn-link {
    padding: 1rem 0;
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

.btn-ghost {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    text-transform: uppercase;
}

.btn-light {
    background-color: #fff;
    padding: 1.1rem 5rem;
    margin: 2rem;
    text-transform: uppercase;
}

.btn-ghost-light {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #4c214b;
}

.btn-link:hover {
    color: var(--color-link);
    text-decoration: underline;
}

.btn-ghost:hover {
    border: 2px solid var(--color-primary);
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-dark {
    background-color: #f5f5f5;
}

.container {
    margin: auto;
    max-width: 120rem;
    padding: 0 3rem;
    overflow: hidden;
}

.heading-primary {
    font-family: "Asap Condensed", sans-serif;
    font-size: 5.5rem;
    line-height: 1.1;
}

.py-small {
    padding: 2rem 0;
}

.py-medium {
    padding: 5rem 0;
}

.py-large {
    padding: 10rem 0;
}

.px-small {
    padding: 0 2rem;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-link {
    color: #1264a3;
}

/* MAIN STYLING  */

#navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.navbar-container {
    display: flex;
    height: 7rem;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 500;
    align-items: center;
}
.navbar-container .left-side {
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar-container .left-side ul {
    display: flex;
    height: 100%;
    margin-left: 2rem;
    list-style: none;
    align-items: center;
}

.navbar-container .left-side ul li a {
    padding: 1rem;
}
.navbar-container .left-side ul li a:hover {
    color: var(--color-link);
}
.navbar-container .left-side ul li:not(:last-child) {
    margin: 0 1.6rem;
}

.navbar-logo img {
    height: 2.6rem;
    vertical-align: bottom;
}

/* HERO SECTION  */

.hero-container {
    display: flex;
    padding: 10rem 0;
}

.hero-content {
    /* padding-right: 2rem; */
    flex: 2;
    padding-top: 2rem;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
}
.hero-img img{
    width: 95%;
}
.hero-content .sub-heading {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

.hero-content h1 {
    padding-bottom: 0.5rem;
}

.hero-content p {
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
    line-height: 1.3;
}
.hero-content a {
    display: inline-block;
    padding: 1.5rem 4rem;
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: 1rem;
}

/* FEATURES SECTION  */

.feature-info p {
    font-size: 1.8rem;
    padding: 2rem 0 3rem 0;
}

.feature-info video {
    height: 50rem;
    filter: drop-shadow(0 1px 10px #000);
}

.features {
    display: flex;
    font-size: 1.8rem;
}

.features p {
    width: 85%;
}

.features i img {
    width: 5rem;
}
.features i .icon-3 {
    width: 4.7rem;
}

/* SECTION 3  */

#section-3 .items {
    display: flex;
}
#section-3 .items video {
    width: 90%;
}

#section-3 .item-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
#section-3 .items .item-1-video
{
    display: flex;
    width: 90%;
    justify-content: flex-end;
}
#section-3 .items .item-2-video {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}
.item-1-content,
.item-2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.

.item-1-content,
.item-2-content  {
    width: 100%;
}

/* TESTIMONIAL SECTION  */
.card {
    display: flex;
    margin: 5rem auto;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 1rem 3rem #333;
    transition: all 0.2s;
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-img img {
    height: 100%;
    width: 100%;
}

.card-content {
    text-align: left;
    padding: 3rem;
    position: relative;
}
.card-content .quote {
    padding: 1rem 0;
    font-style: italic;
    line-height: 1.7;
    letter-spacing: 1.5;
}
.card-content .name {
    padding: 1rem 0 0 0;
    font-weight: 700;
    font-size: 1.5rem;
}
.card-content .designation {
    font-size: 1.5rem;
}
.card-content .card-link {
    bottom: 1rem;
    right: 1rem;
    position: absolute;
    display: block;
}

.customer-logos {
    display: flex;
    margin-top: 10rem;
    justify-content: space-evenly;
}

/* WHAT'S NEW SECTION  */
#section-new h1 {
    margin-bottom: 10rem;
}
#section-new .cards {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding: 0 5rem;
}
#section-new .new-card {
    text-align: left;
    width: 27%;
    padding: 1rem;
    height: 45rem;
    box-shadow: 0 0.5rem 1rem #333;
    position: relative;
    transition: all 0.2s;
}
#section-new .new-card img {
    width: 100%;
}

#section-new .new-card h2 {
    font-size: 2.5rem;
}
#section-new .new-card p {
    font-size: 1.5rem;
}
#section-new .new-card a {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
#section-new .new-card:hover {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem #333;
}

/* BANNER SECTION  */
#banner {
    background-color: var(--color-primary);
    color: #fff;
}
#banner h1 {
    margin-bottom: 4rem;
}

/* FOOTER SECTION  */
.footer-container {
    display: flex;
    flex-direction: column;
}

/* footer top  */
.footer-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-logo {
    flex: 1;
    padding-left: 5rem;
}

.footer-top .footer-links {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
    color: #444;
}

.footer-links ul {
    list-style: none;
}

.footer-link-list-heading {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
}

.footer-link-list-item {
    font-size: 1.4rem;
    padding: 0.8rem 0;
    display: inline-block;
}

.footer-link-list-item:hover {
    color: var(--color-link-2);
}
.footer-logo i img {
    height: 5rem;
}

/* footer mid  */
.footer-mid {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

.footer-mid-links {
    padding: 1rem;
    margin-left: 10rem;
}
.footer-mid-links a {
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-mid-links a:hover {
    color: var(--color-link-2);
}

.footer-mid-social-links {
    display: flex;
    width: 15%;
    margin-right: 10rem;
    align-items: center;
    justify-content: space-evenly;
}
.footer-mid .footer-mid-social-links i img {
    height: 1.6rem;
}
.footer-mid .footer-mid-social-links i img:hover {
    background: var(--color-link-2);
    cursor: pointer;
}

/* footer bottom  */

.footer-bottom {
    padding: 2rem 0;
    background-color: #ddd;
}
.footer-bottom p {
    margin-left: 10rem;
    font-size: 1.4rem;
    font-weight: 500;
}


@media (max-width: 500px) {
    .py-large {
        padding: 5rem 0;
    }
    .py-medium {
        padding: 3rem 0;
    }
    .py-small {
        padding: 1rem 0;
    }

    body p {
        font-size: 1.6rem;
    }

    .heading-primary {
        font-size: 3rem;
    }
    #hero .hero-container {
        padding-top: 1rem;
        padding-bottom: 5rem;

    }

    #hero .hero-container .hero-content h1{
        font-size: 3rem;
    }
    #hero .hero-container .hero-content p{
        font-size: 1.6rem;
    }
    
    .features-section .features-container .feature-info p {
        font-size: 1.6rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .features-section .features-container .feature-info video {
        padding: 5rem 0;
        margin: 0;
        height: 100%;
    }

    #section-3 .items h1 {
        font-size: 2.8rem;
    }
    #section-3 .items video {
        margin-bottom: 2rem;
    }

    #section-testimonial p {
        width: 80%;
        margin: 0 auto;
    }

    #section-testimonial .card {
        padding: 0;
        width: 100% !important;
        margin: 0 auto;
    }

    #section-testimonial .customer-logos i img{
        width: 10rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    #section-new h1 {
        
        margin-bottom: 3rem;
    }
    #section-new .cards .new-card {
        width: 100%;
    }

    #footer .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    #footer .footer-links .footer-link-list {
        width: 12rem
    }

}

@media (max-width: 768px) {

    .hero-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #hero .hero-content {
        width: 100%;
    }
    #hero .hero-img {
        width: 100%;
    }
    #hero .hero-img img {
        width: 100%;
    }


    #section-testimonial .card {
        flex-direction: column;
        width: 50%;
        transform: scale(.8);
    }

    .card .card-img {
        flex: 1;
    }

    .card .card-content {
        flex: 2;
    }

    #section-testimonial .customer-logos {
        /* display: flex; */
        flex-wrap: wrap;
    }

    #section-new .cards {
        flex-direction: column;
        align-items: center;
    }

    #section-new .new-card {
        width: 70%;
        transform: scale(.9);
        
    }

    #banner a {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1rem auto;
    }

    .footer-top {
        flex-direction: column;
        justify-content: space-between;

    }

    .footer-top .footer-links {
        flex-wrap: wrap;
    }

    .footer-top .footer-links .footer-link-list {
        margin: 1rem 2rem;
        width: 20rem;
    }

    .footer-top .footer-links .footer-link-list-item {
        width: 100%;
    }

    .footer-top .footer-logo{
        padding: 5rem;
    }

    .footer-mid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-mid-links {
        margin: 0;
    }
    .footer-mid-social-links {
        margin: 0;
        width: 50%;
    }
    .footer-bottom p {
        padding: 0;
        margin: 0 auto;
        width: 70%;
    }
}



@media (max-width: 960px) {
    #section-3 .items {
        flex-direction: column;
    }

    #section-3 .items .item-1-video,
    #section-3 .items .item-2-video {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    #navbar .left-side .navbar-navigation {
        display: none;
    }
    .navbar-buttons {
        display: none;
    }

    .hero-img {
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .hero-img img{
        transform: scale(.9);
    }

    .hero-container .hero-content {
        width: 50%;
    }

    .hero-container .btn {
        display: block;
        text-align: center;
        margin: 1rem 0;
    }

    .feature-info video {
        width: 100%;
    }

    .features  {
        flex-wrap: wrap;

    }
    .features .features-item {
        margin: 2rem 0;

    }

    .features p {
        width: 100%;
    }


}

